doctype 5
html
    head
        title= title
        link(rel='stylesheet', href='/css/flat-ui.css')
        link(rel='stylesheet', href='/css/bootstrap.css')
    body
        block content
        script(type='text/javascript', src='/js/jquery-2.0.3.min.js')
        script(type='text/javascript', src='/js/jquery-ui-1.10.3.custom.min.js')
        script(type='text/javascript', src='/js/bootstrap.min.js')
        script(type='text/javascript', src='/js/bootstrap-select.js')
        script(type='text/javascript', src='/js/bootstrap-switch.js')
        script(type='text/javascript', src='/js/flatui-checkbox.js')
        script(type='text/javascript', src='/js/flatui-radio.js')
        script(type='text/javascript', src='/js/jquery.tagsinput.js')
        script(type='text/javascript', src='/js/video.js')